@charset "UTF-8";
.header__dashboard-account {
  padding: 5px;
  width: 220px;
  height: 100%;
  flex-basis: 250px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 6px 6px 0px gray;
  cursor: pointer;
  display: grid;
  grid-template-areas: "account-avatar account-name account-nav" "account-avatar account-job account-nav";
  grid-template-columns: 20% 60% 20%;
  position: relative;
  z-index: 3;
}
.header__dashboard-account-avatar {
  margin: auto;
  grid-area: account-avatar;
}
.header__dashboard-account-name {
  margin: auto 0px 0px 0px;
  overflow: hidden;
  grid-area: account-name;
}
.header__dashboard-account-name-text {
  white-space: nowrap;
  font-size: 15px;
  color: #454545;
  font-weight: 600;
}
.header__dashboard-account-job {
  margin: 0px 0px auto 0px;
  overflow: hidden;
  grid-area: account-job;
}
.header__dashboard-account-job-text {
  font-size: 15px;
  white-space: nowrap;
  color: #717171;
}
.header__dashboard-account-nav-img {
  margin: auto;
  grid-area: account-nav;
  transition: 0.25s ease-in-out;
}
.header__dashboard-account-nav {
  width: 100%;
  position: absolute;
  z-index: 2;
}
.header__dashboard-account-nav-item {
  all: unset;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  display: block;
  width: 200px;
  border-radius: 30px;
  padding: 15px;
  margin: 4px;
  background-color: #fff;
  font-size: 15px;
  color: #676565;
  box-shadow: 0px 6px 6px 0px gray;
  font-weight: 600;
  transition: 0.25s ease-in-out;
  transform: translate(0px, 20px);
  text-decoration: none;
}
.header__dashboard-account-nav-item:hover {
  padding-left: 25px;
  color: #363636;
  background-color: #eacfcf;
}